@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script&family=Tangerine&display=swap');

.hidden {
    display: none!important;
}

body {
    display: flex;
    justify-content: center;
    margin: 24px
}

#start-page {
    position: relative;
}

section {
    width: 100%;
    border-radius: 76px;
    font-family: 'Roboto', sans-serif;
    padding: 50px 200px;
    color: rgb(240 230 141);
    background-image: url("../images/vecteezy_a-wooden-cutting-board-isolated_2046969/ya4v_yf59_210113_ss4mp_generated.jpg");
    background-position: center;
    text-align: center;
    align-items: center;
    max-width: 1050px;
    min-height: 800px;
}

.centered-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #f0da8d;
    font-family: 'Cookie', cursive;
    font-size: 88px;
    margin-top: 24px;
}


/* IMAGES */

#ninja {
    position: relative;
    top: 10px;
    left: 10px;
    width: 88px;
    height: 88px;
}

#splash1 {
    position: absolute;
    top: 280px;
    width: 80px;
    height: 80px;
    right: 250px;
    opacity: 0.6;
}

#splash2 {
    position: absolute;
    opacity: 0.5;
    left: 140px;
    top: 220px;
    transform: rotate(30deg);
    width: 100px;
    height: 100px;
}

#splash3 {
    position: absolute;
    opacity: 0.4;
    right: 320px;
    bottom: 100px;
}

#splash4 {
    position: absolute;
    top: 120px;
    left: 150px;
    opacity: 0.6;
    transform: rotate(30deg);
    width: 90px;
    height: 90px;
}

#spot {
    position: absolute;
    left: 80px;
    top: 160px;
    opacity: 0.7;
    width: 120px;
    height: 120px;
}

#spot2 {
    position: absolute;
    right: 120px;
    transform: rotate(50deg);
    opacity: 0.7;
}

#spot3 {
    position: absolute;
    transform: rotate(80deg);
    opacity: 0.7;
    right: 270px;
    bottom: 250px;
    width: 70px;
    height: 70px;
}


#bruschetta {
    position: absolute;
    width: 300px;
    height: 212px;
    right: 50px;
    top: 60px;
    opacity: 0.8
}

#chicken {
    position: absolute;
    bottom: 60px;
    left: 120px;
}

/* _________ */

h2 {
    margin-top: 0;
    font-size: 24px;
}

h3 {
    font-size: 20px;
    margin: 8px 0;
}

p {
    font-size: 18px;
    margin: 8px 0;
}

.small-container {
    padding: 24px;
    max-width: 560px;
}

.half-transparent {
    background-color: rgb(115 70 33 / 70%);
}

.rounded {
    border-radius: 24px;
}

button {
    background-color: #e96895f7;
    border: 2px solid #f0e98d;
    color: #f0e98d;
    padding: 15px;
    margin: 40px 0 24px 0;
    border-radius: 10px;
    font-size: 36px;
    font-family: 'Cookie', cursive;
}


button:hover {
    cursor: pointer;
    background-color: #f0e98d;
    color: #e96895f7;
    border: 2px solid #e96895f7;
}

#game-page {
    position: relative;
}

#game-canvas {
    cursor: url("../images/knife.png"), auto;
}

#score-page {
    justify-content: center;
    position: relative;
}


#score-page p {
    font-size: 20px;
    padding: 20px 0 20px 0;
}


@media (max-width: 1073px) {

    h1 {
        font-size: 80px;
        }
    section {
        padding: 0;
        border-radius: 48px;
    }

    .small-container {
        margin: 80px;
        max-width: none;
    }

    #chicken {
        max-height: 200px;
        bottom: 40px;
        left: 120px;
    }

    #bruschetta {
        height: 120px;
        width: auto;
    }
}


@media (max-width: 768px) {
    body {
        margin: 0px;
    }

    section {
        border-radius: 0px;
    }
    .splash {
        display: none;
    }

    #chicken {
        display: none;
    }

    #bruschetta {
        display: none;
    }

    .small-container {
        margin: 24px;
        max-width: none;
    }
    h1 {
    font-size: 72px;
    }
}

@media (max-width: 347px) {
    h1 {
        font-size: 56px;
        }
}