@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.hidden {
    display: none!important;
}

body {
    display: flex;
    justify-content: center;
}

#start-page {
    position: relative;
}

section {
    width: 100%;
    border-radius: 128px;
    font-family: 'Roboto', sans-serif;
    padding: 50px 200px;
    color: white;
    background-image: url("../images/vecteezy_a-wooden-cutting-board-isolated_2046969/ya4v_yf59_210113_ss4mp_generated.jpg");
    background-size: cover;
    text-align: center;
    align-items: center;
    max-width: 1000px;
    min-height: 800px;


}

.centered-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 42px;
    color: #0C0545;
}

#ninja {
    position: absolute;
    top: 5px;
    width: 72px;
    height: 72px;
}

#splash1 {
    position: absolute;
    top: 36px;
    width: 80px;
    height: 80px;
    right: 30px;
    opacity: 0.6;
}

#splash2 {
    position: absolute;
    width: 120px;
    height: 120px;
    left: 200px;
    bottom: -20px;
    opacity: 0.6;
    transform: rotate(40deg);
}

#splash3 {
    position: absolute;
    opacity: 0.5;
    left: 140px;
    top: 220px;
    transform: rotate(30deg);
    width: 100px;
    height: 100px;
}

#splash4 {
    position: absolute;
    opacity: 0.4;
    right: 320px;
    bottom: 100px;
}

#splash5 {
    position: absolute;
    top: 220px;
    left: 300px;
    opacity: 0.6;
    transform: rotate(30deg);
    width: 90px;
    height: 90px;
}

#spot {
    position: absolute;
    left: 180px;
    top: 160px;
    opacity: 0.7;
    width: 120px;
    height: 120px;
}

#spot2 {
    position: absolute;
    right: 120px;
    transform: rotate(50deg);
    opacity: 0.7;
}

#spot3 {
    position: absolute;
    transform: rotate(80deg);
    opacity: 0.7;
    right: 270px;
    bottom: 250px;
    width: 70px;
    height: 70px;
}

h2 {
    margin-top: 0;
    font-size: 24px;
}

h3 {
    font-size: 20px;
    margin: 8px 0;
}

p {
    font-size: 18px;
    margin: 8px 0;
}

.small-container {
    padding: 24px;
    max-width: 560px;
}

.half-transparent {
    background-color: rgba(0,0,0,0.3);
}

.rounded {
    border-radius: 24px;
}

button {
    background-color: #BA4A52;
    border: 2px solid white;
    color: white;
    padding: 15px;
    margin: 40px 0 24px 0;
    border-radius: 10px;
    font-size: 24px;
}

button:hover {
    cursor: pointer;
    color: #0C0545;
    border: 2px solid #0C0545;
}

#button {
    position: relative;
}

#game-page {
    position: relative;
}

#game-canvas {
    cursor: url("../images/french-knife-rotate.png"), auto;
}


#score-page {
    justify-content: center;
    position: relative;
}


#score-page p {
    font-size: 20px;
    padding: 20px 0 20px 0;
}

#bruschetta {
    position: absolute;
    width: 333px;
    height: 212px;
    right: 50px;
    top: 60px;
}

#chicken {
    position: absolute;
    bottom: 60px;
    left: 120px;
}



@media (max-width: 1000px) {
    section {
        padding: 0;
    }

    .small-container {
        margin: 80px;
        max-width: none;
    }

    #chicken {
        max-height: 200px;
        bottom: 40px;
        left: 120px;
    }

    #bruschetta {
        height: 120px;
        width: auto;
    }
}


@media (max-width: 768px) {
    .splash {
        display: none;
    }

    #chicken {
        display: none;
    }

    #bruschetta {
        display: none;
    }

    .small-container {
        margin: 24px;
        max-width: none;
    }
}