@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.hidden {
    display: none!important;
}

body {
    display: flex;
    justify-content: center;
}

section {
    width: 100%;
    border-radius: 128px;
    font-family: 'Roboto', sans-serif;
    padding: 50px 200px;
    color: white;
    background-image: url("images/vecteezy_a-wooden-cutting-board-isolated_2046969/ya4v_yf59_210113_ss4mp_generated.jpg");
    background-size: cover;
    text-align: center;
    max-width: 1000px;
    min-height: 800px;
}

.centered-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 42px;
    color: #0C0545;

}

.circle {
    position: relative;
    margin: 32px;
    justify-content: center;
    border-radius: 50%;
    width: 184px;
    height: 184px;
    background-color: #FFED77;
    box-shadow: 4px 4px 18px #535248;
}

.circle img {
    position: absolute;
    top: -48px;
    width: 80px;
    height: 80px;
}

#instructions {
    position: relative;
}

#splash1 {
    position: absolute;
    top: -36px;
    width: 80px;
    height: 80px;
    right: -30px;
    opacity: 0.6;
}

#spot {
    position: absolute;
    left: -180px;
    top: -160px;
    opacity: 0.7;
    width: 120px;
    height: 120px;
}

#bruschetta {
    position: absolute;
    right: -440px;
    top: -65px;
}

h2 {
    margin-top: 0;
    font-size: 24px;
}

h3 {
    font-size: 20px;
    margin: 8px 0;
}

p {
    font-size: 18px;
    margin: 8px 0;
}

.small-container {
    padding: 24px;
    max-width: 560px;
}

.half-transparent {
    background-color: rgba(0,0,0,0.3);
}

.rounded {
    border-radius: 24px;
}

button {
    background-color: #BA4A52;
    border: 2px solid white;
    color: white;
    padding: 15px;
    margin: 40px 0 24px 0;
    border-radius: 10px;
    font-size: 24px;
}

button:hover {
    cursor: pointer;
    color: #0C0545;
    border: 2px solid #0C0545;
}

#button {
    position: relative;
}

#splash2 {
    position: absolute;
    width: 120px;
    height: 120px;
    left: -200px;
    bottom: -20px;
    opacity: 0.6;
    transform: rotate(40deg);
}

#score-page {
    justify-content: center;
}

#footer-styles {
    position: relative;
}

#chicken {
    position: absolute;
    top: -100px;
    left: -480px;
}